<!DOCTYPE html>
<html>
  <head>
    <title>DBenchBnB</title>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDkB-dkynjaQ1MS8TgOEO7Q3svskM4pPgk" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
